.section1{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    /* background-image: url('client/public/images/blog_circle.png'); */
    /* background-color: var(--bg-color); */
}
.sec1_heading{
    font-size: 40px;
    max-width: 650px;
    text-align: center;
    font-weight: 800;
    color: #0e524e;
}
.sec1_main{
    padding: 30px;
    font-size: 21px;
    max-width: 650px;
    text-align: center;
    font-weight: 600;
    color: #3e3e3e;
}
.sec1_form_wrapper{
    background-color: #0e524e;
    /* padding: 20px 40px; */
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    margin-bottom:10px;
}
.sec1_form_header{
    color: white;
    /* font-size: 21px; */
    font-size: 16px;
    font-family: 'Poppins',cursive;
    font-weight: 300;
    letter-spacing: 4px;
}
body{
    margin:0px;
}
.Home{
    background-color: #0e524e;
    width:400px;
    height: 400px;
    padding: 20px;
}